@import "compass/css3";

// settings

$red-box: #d02326;
$size-mobile: 568px;
$size-tablet: 768px;
$size-desktop: 1200;
//

@import "utilities/utilities";

@import "base/layout";
@import "base/typography";

@import "components/plugin";
@import "components/notice";
@import "components/slick";